.has-leader .site-inner {
	margin-top: 0;
}

.big-leader {
	overflow: hidden;
	height: 600px;
	position: relative;
}

.backstretch.no-js {
	background-size: cover;
	height: 600px;
}

.big-leader .wrap {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.big-leader .entry-title.featured-image-overlay,
.big-leader .archive-title.featured-image-overlay {
	color: #fff;
	text-align: center;
}

.big-leader .excerpt,
.big-leader .archive-description {
	margin-bottom: 24px;
	padding: 24px;
	background: rgba(255,255,255,0.85);
}

.big-leader p {
	margin-top: 18px;
}

.home .big-leader p {
	margin-top: 0;
}

.big-leader p,
.big-leader .excerpt .entry-title,
.big-leader .archive-description .archive-title,
.home .big-leader p:last-child {
	margin-bottom: 0;
}

img.featured {
	max-width: 100%;
}


@media only screen and (max-width: 768px) {

	.big-leader,
	.backstretch.no-js {
		height: 300px;

	}

}
