.has-leader .site-inner {
	margin-top: 0;
	padding-top: 0;
}

.big-leader {
	max-height: 700px;
}

.big-leader .wrap {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.big-leader .entry-title {
	color: #fff;
	margin-bottom: 24px;
	position: relative;
	text-align: center;
}

.big-leader .archive-description {
	background: rgba(255,255,255,.85);
	color: #333;
	padding: 24px;
}

img.featured {
	max-width: 100%;
}
